
<div class="row">
    <div class="col-md-6">
        
    </div>
    <div class="col-md-6">
        <div class="float-md-right">
            @*<h4 class="text-primary"> @ViewBag.count</h4>*@
            <form asp-action="Index" class="form-inline" method="post">

                <input type="text" name="usrtext" value="@ViewBag.data" class="form-control" placeholder="Search...." />

                <button class="btn-info form-control" type="submit">Search</button>

            </form>

        </div>
    </div>
</div>
