
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-info btn-sm" id="btnPrint" data-toggle="tooltip" data-placement="top" title="Print"><i class="fa fa-print"></i></button>
        <button class="btn btn-success btn-sm" id="btnPDF" data-toggle="tooltip" data-placement="top" title="Pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
        <button class="btn btn-primary btn-sm" id="btnExcel" data-toggle="tooltip" data-placement="top" title="CSV"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
    </div>
    <div class="col-md-6">
        <div class="float-md-right">
            @*<h4 class="text-primary"> @ViewBag.count</h4>*@
            <form asp-action="Index" class="form-inline" method="post">
                <input type="text" name="usrtext" value="@ViewBag.data" class="form-control" placeholder="Search...." />
                <button class="btn-info form-control" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
