@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/css/_Layout.css" rel="stylesheet" />
    <title>Online Admission - Tejgaon College</title>
</head>
<body class="bg-light">

    @if (signInManager.IsSignedIn(User))
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Online Admission</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                        <ul class="navbar-nav flex-grow-1">
                            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                            {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="AppliedStudents" asp-action="Index">Applied Students</a>
                                            </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link text-dark" asp-area="" asp-controller="MeritStudents" asp-action="Index">Merit Students</a>
                                                                </li>
                                }

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Search">Check</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }


    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="">
                    <img src="~/Images/Collge/Banner-4.png" style="width:100%;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12 col-sm-12 col-12 col-lg-12">
                    <div class="navbar navbar-expand-lg navbar-light bg-light mb-2 p-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" id="admissionNav">
                                <span class="nav-link" id="admissionLink" style="color:#0cc315">Student Type <i class="fas fa-angle-down"></i></span>
                                <ul id="admissionId">
                                    <li><a class="nav-link" asp-action="Search" asp-controller="Students">Honours Admission</a></li>
                                    <li><a class="nav-link" asp-action="ProfessionalSearch" asp-controller="Students">Professional Admission (Under Graduate)</a></li>
                                    <li><a class="nav-link" asp-action="MastersSearch" asp-controller="Students">Professional Admission (MBA)</a></li>
                                    <li><a class="nav-link" asp-action="MastersSearchGeneral" asp-controller="Students">Master's Application (Regular)</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            @RenderBody()
        </div>
        <footer class="bg-light text-center text-lg-start fixed-bottom">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                &copy; Simplex Solutions @DateTime.Today.ToString("yyyy")
            </div>
        </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>