
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/theme/css/style.css">
    <title>@ViewData["Title"] Online Admission</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />

    @*Alertify*@
    <link href="~/lib/alertify/css/alertify.min.css" rel="stylesheet" />
    <link href="~/lib/alertify/css/themes/default.min.css" rel="stylesheet" />

    @*Select2*@
    <link href="~/lib/Select2/css/select2.min.css" rel="stylesheet" />

    @*datatable*@
    <link href="~/lib/datatable/datatables.min.css" rel="stylesheet" />
    @*Custom Style*@
    <link href="~/css/_Layout.css" rel="stylesheet" />


</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-2 pt-2">
                @*<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a>*@
                <ul class="list-group">
                    <li class="list-group-item">
                        <partial name="_LoginPartial" />
                    </li>
                </ul>

                @if (signInManager.IsSignedIn(User))
                {
                    <ul class="list-unstyled components mb-5">
                        @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Accounts") || User.IsInRole("Teacher"))
                        {
                            <li class="active">
                                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Students</a>
                                <ul class="collapse list-unstyled" id="homeSubmenu">
                                    <li>
                                        <a asp-action="Index" asp-controller="AppliedStudents">Applied Students</a>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="MeritStudents">Selected Students</a>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="Students">Admitted Students</a>
                                    </li>
                                </ul>
                            </li>
                        }

                        <li>
                            <a href="#paymentSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Payments</a>
                            <ul class="collapse list-unstyled" id="paymentSubMenu">
                                @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Accounts"))
                                {
                                    <li>
                                        <a asp-action="Index" asp-controller="Payments" asp-route-paymentType=1>Hons General (Application)</a>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="Payments" asp-route-paymentType=2>Hons General (Admission)</a>
                                    </li>
                                    <li>
                                        <a asp-action="ProfessionalIndex" asp-controller="Payments" asp-route-paymentType=1>Hons Professional (Application)</a>
                                    </li>
                                    <li>
                                        <a asp-action="ProfessionalIndex" asp-controller="Payments" asp-route-paymentType=2>Hons Professional (Admission)</a>
                                    </li>
                                    <li>
                                        <a asp-action="mastersIndex" asp-controller="Payments" asp-route-paymentType=1>Masters Professional(MBA) Application</a>
                                    </li>
                                    <li>
                                        <a asp-action="mastersIndex" asp-controller="Payments" asp-route-paymentType=2>Masters Professional(MBA) Admission</a>
                                    </li>
                                }
                                @if (User.IsInRole("SuperAdmin"))
                                {
                                    <li>
                                        <a asp-action="Create" asp-controller="Payments">Add Payments</a>
                                    </li>
                                }
                            </ul>
                        </li>

                        @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                        {
                            <li>
                                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Setup</a>
                                <ul class="collapse list-unstyled" id="pageSubmenu">
                                    <li>
                                        <a asp-action="Index" asp-controller="Subjects">Subject</a>
                                    </li>
                                    <li>
                                        <a asp-action="userList" asp-controller="Administrations">Users</a>
                                    </li>
                                    <li>
                                        <a asp-action="roleList" asp-controller="Administrations">Roles</a>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="StudentCategories">Student Category</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a asp-controller="SMS" asp-action="Index">SMS</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Teacher"))
                        {
                            <li>
                                <a asp-controller="Students" asp-action="IdCard">ID Card</a>
                            </li>
                        }
                    </ul>
                }

                <div class="">
                    <p>
                        &copy; @DateTime.Today.ToString("yyyy") - Online Admission - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </p>

                    <p>
                        <br /><br />
                    </p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-2 p-md-2">

            <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 p-1">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">

                            <li class="nav-item" id="admissionNav">
                                <span class="nav-link" id="admissionLink">Admission</span>
                                <ul id="admissionId">
                                    <li><a class="nav-link" asp-action="Search" asp-controller="Students">Honour's Admission</a></li>
                                    <li><a class="nav-link" asp-action="ProfessionalSearch" asp-controller="Students">Profession's Admission</a></li>
                                    <li><a class="nav-link" asp-action="MastersSearch" asp-controller="Students">Master's Admission</a></li>
                                </ul>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                            </li>

                            @if (signInManager.IsSignedIn(User))
                            {
                                if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="Index" asp-controller="SpecialOffer">Special</a>
                                    </li>
                                }

                                if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Teacher"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="SubjectChange" asp-controller="Students">Subject Change</a>
                                    </li>
                                }

                            }
                        </ul>
                    </div>
                </div>
            </nav>
            <div>
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    @*<script src="~/theme/js/jquery.min.js"></script>*@
    <script src="~/theme/js/popper.js"></script>
    <script src="~/theme/js/bootstrap.min.js"></script>
    <script src="~/lib/Select2/js/select2.min.js"></script>
    <script src="~/theme/js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script> @*//JQuery 3.5.1*@
    <script src="~/lib/datatable/datatables.min.js"></script>
    <script src="~/lib/datatable/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatable/buttons.print.min.js"></script>

    <script src="~/lib/alertify/alertify.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("Styles", required: false)
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>
</body>
</html>

