@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

    <div class="jumbotron text-md-center">
        <span class="h2 alert text-danger text-center">
            You are not eligible for this page
        </span>
        <div class="row pt-md-3">
            <div class="col-md-6 offset-md-3 text-md-center">

                <a class="btn btn-info " asp-action="Search" asp-controller="Students">Back to Search</a>
            </div>
        </div>
    </div>


