@model OnlineAdmission.APP.ViewModels.Student.AllStudentVM

@{
    ViewData["Title"] = "Home Page";
    var paymentCompletedStudent = Model.MeritStudents.Where(m => m.PaymentStatus == true).ToList();
}

<div class="text-center">
    
</div>


<div class="card-deck">
    <div class="card">
        <div class="card-header bg-info border-info text-center">
            <h4>Applied</h4>
        </div>
        <div class="card-body">
            
            <a asp-controller="AppliedStudents" asp-action="index">
                <h5 class="card-title">Total <span class="text-info font-weight-bold">@Model.AppliedStudents.Count</span>  Students</h5>
            </a>
            
            <p class="card-text">
                
            </p>
        </div>
        @*<div class="card-footer">
            <small class="text-muted"></small>
        </div>*@
    </div>

    <div class="card">
        <div class="card-header bg-primary border-primary text-center">
            <h4>Selected</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">Total <span class="text-info font-weight-bold">@Model.MeritStudents.Count</span>  Students</h5>
            <p class="card-text">

            </p>
        </div>
        @*<div class="card-footer">
            <small class="text-muted"></small>
        </div>*@
    </div>

    <div class="card">
        <div class="card-header bg-success border-success text-center">
            <h4>Payment Completed</h4>
        </div>
        <div class="card-body">
            
            @if (Model.MeritStudents!=null)
            {
                <h5 class="card-title">Total <span class="text-info font-weight-bold">@paymentCompletedStudent.Count</span>  Students </h5>
                <h4></h4>

                foreach (var merits in Model.MeritStudents)
                {
                    <table>
                        <tr></tr>
                    </table>
                }
            }
            else
            {
                <h4>Merit Student List is Empty</h4>
            }
        </div>
        @*<div class="card-footer">
            
        </div>*@
    </div>

    <div class="card">
        <div class="card-header bg-warning border-warning text-center">
            <h4>Admitted</h4>
        </div>
        <div class="card-body">
            <a asp-controller="Students" asp-action="index">
                <h5 class="card-title">Total <span class="text-info font-weight-bold">@Model.Students.Count</span>  Students</h5>
            </a>
            
            <p class="card-text">

            </p>
        </div>
        @*<div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>*@
    </div>
</div>