@model IEnumerable<OnlineAdmission.Entity.AcademicSession>

@{
    ViewData["Title"] = "Academic Session List";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SessionName)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SessionName)
            </td>
            
            <td>
                <partial name="~/Views/PartialViews/_Edit_Details_Delete.cshtml" model="@item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>
