@model OnlineAdmission.Entity.StudentPaymentType

@{
    ViewData["Title"] = "Edit Student Payment Type";
}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentCategoryId" class="control-label"></label>
                <select asp-for="StudentCategoryId" class="form-control" asp-items="ViewBag.StudentCategoryId"></select>
                <span asp-validation-for="StudentCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeritTypeId" class="control-label"></label>
                <select asp-for="MeritTypeId" class="form-control" asp-items="ViewBag.MeritTypeId"></select>
                <span asp-validation-for="MeritTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTypeId" class="control-label"></label>
                <select asp-for="PaymentTypeId" class="form-control" asp-items="ViewBag.PaymentTypeId"></select>
                <span asp-validation-for="PaymentTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicSessionId" class="control-label"></label>
                <select asp-for="AcademicSessionId" class="form-control" asp-items="ViewBag.AcademicSessionId"></select>
                <span asp-validation-for="AcademicSessionId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <select asp-for="StartDate" class="form-control" asp-items="ViewBag.StartDate"></select>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <select asp-for="EndDate" class="form-control" asp-items="ViewBag.EndDate"></select>
                </div>*@
            <label asp-for="StartDate" class="text-right col-form-label col-md-2"></label>
            <div class="col-md-5">
                <input asp-for="StartDate" class="form-control" />
            </div>
            <label asp-for="EndDate" class="text-right col-form-label col-md-2"></label>
            <div class="col-md-5">
                <input asp-for="EndDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                @*<textarea asp-for="Remarks" class="form-control" />*@
                <textarea asp-for="Remarks" class="form-control"></textarea>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script>
    $(document).ready(function () {
        //$('#Remarks').summernote({
        //    height: 250
        //});
        
    });
</script>   
 
}
