@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@{
    ViewBag.Title = "Degree Pass";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<div class="">
    <div class="row card text-center border-0 p-5" style="background-color: #DEE2EB">
        <div class="card-body">
            <form asp-action="DegreeSearch" asp-controller="Students" method="post">
                <label class="col-md-8 text-success font-weight-bolder  text-md-center text-center col-form-label" style="font-size:x-large">Degree Pass Application</label><br /><br />
                <div class="form-group row">
                    <label class="col-md-2 text-md-right text-left col-form-label">NU Roll</label>
                    <div class="col-md-6">
                        @if (ViewBag.nuRoll != null)
                        {
                            <input type="number" name="degreePassRoll" value="@ViewBag.nuRoll" class="form-control" min="1000000" max="9999999" required placeholder="NU Admission Roll"/>
                        }
                        else
                        {
                            <input type="number" name="degreePassRoll" class="form-control" min="1000000" max="9999999" required placeholder="NU Admission Roll"/>
                        }
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </div>
            </form>

            @if (ViewBag.msg != null)
            {
                <div class="form-group row" id="missText">
                    <span class="alert alert-danger">@ViewBag.msg</span>
                </div>
            }
        </div>
        @if (ViewBag.notification != null)
        {
            <div class="text-md-center">
                <span class="h2 alert text-success">@ViewBag.notification</span>
            </div>
        }
        @if (ViewBag.isPaid != null)
        {
            if (ViewBag.isPaid == true)
            {
                <span>Your payment is already completed.</span>
            }
            else
            {
                <div class="row">
                    <div class="col-md-10 offset-1 text-center">
                        <span class="alert font-weight-bold text-info">Apply for Degree Pass Application</span><hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form asp-action="NagadPaymentDegreePass" asp-controller="Students" method="get">
                            <input type="hidden" name="studentCategory" value="5" />
                            <input type="hidden" name="paymentType" value="1" />
                            <input type="hidden" name="nuRoll" value="@ViewBag.nuRoll" />
                            <div class="form-group row">
                                <label class="col-md-2 text-md-right text-left col-form-label">Name : </label>
                                <div class="col-md-4">
                                    <input required type="text" name="studentName" class="form-control" />
                                </div>

                                <label class="col-md-2 text-md-right text-left col-form-label">Mobile : </label>
                                <div class="col-md-4">
                                    <input required type="number" name="mobileNum" class="form-control" min="01300000000" max="01999999999" />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">Make Payment</button>
                        </form>
                    </div>
                </div>
            }
        }

    </div>


</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#missText").fadeOut(10000);
        });
    </script>
}