@model OnlineAdmission.APP.ViewModels.Student.SubjectChangedVM

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <form asp-action="SubjectChange" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <label asp-for="StudentId" class="col-md-2 text-md-right col-form-label">Student</label>
                        <div class="col-md-4">
                            <select asp-for="StudentId" class="form-control select2" asp-items="Model.StudentList">
                                <option selected disabled>Select Student</option>
                            </select>
                        </div>
                        <label asp-for="SubjectId" class="col-md-2 text-md-right col-form-label">Subject</label>
                        <div class="col-md-4">
                            <select asp-for="SubjectId" class="form-control select2" asp-items="Model.SubjectList">
                                <option selected disabled>Select Subject</option>                                
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 offset-3 text-center">
                            <button class="btn btn-info" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>



@section Scripts{ 
<script>
    $(document).ready(function () {
        $('#StudentId').change(function () {
            let id = $('#StudentId option:selected').val();

            $.ajax({
                url: '/Students/SubjectListByStudentId/' + id,
                dataType: 'JSON',
                cache: false,                
                success: function (data) {
                    $('#SubjectId').empty();
                    $('#SubjectId').append('<option selected disabled>Select Subject</option>');
                    $.each(data, function (i, obj) {
                        var op = '<option value="' + obj.id + '">' + obj.code+' - '+obj.subjectName + '</option>'
                        $('#SubjectId').append(op);
                    });
                },
                error: function (err) {
                    console.log(err);
                }
            });

        });
    });
</script>
}