@model OnlineAdmission.Entity.PaymentTransaction

@{
    ViewData["Title"] = "Create";
}


<h4>Create Payment Transaction</h4>
@if (ViewBag.msg != null)
{
    <span class="h4 text-danger msgFadeOut">@ViewBag.msg</span>
}
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Amount" class="control-label col-md-2 text-md-right"></label>
                <div class="col-md-6">
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="TransactionDate" class="control-label col-md-2 text-md-right"></label>
                <div class="col-md-6">
                    <input asp-for="TransactionDate" class="form-control" type="date" />
                    <span asp-validation-for="TransactionDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Balance" class="control-label col-md-2 text-md-right"></label>
                <div class="col-md-6">
                    <input asp-for="Balance" class="form-control" />
                    <span asp-validation-for="Balance" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AccountNo" class="control-label col-md-2 text-md-right"></label>
                <div class="col-md-6">
                    <input asp-for="AccountNo" class="form-control" />
                    <span asp-validation-for="AccountNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Description" class="control-label col-md-2 text-md-right"></label>
                <div class="col-md-6">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="CreatedBy" class="control-label col-md-2 text-md-right"></label>
                <div class="col-md-6">
                    <input asp-for="CreatedBy" class="form-control" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="TransactionId" class="control-label col-md-2 text-md-right"></label>
                <div class="col-md-6">
                    <input asp-for="TransactionId" class="form-control" />
                    <span asp-validation-for="TransactionId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ReferenceNo" class="control-label col-md-2 text-md-right"></label>
                <div class="col-md-6">
                    <input asp-for="ReferenceNo" class="form-control" />
                    <span asp-validation-for="ReferenceNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AdmissionFee" class="control-label col-md-2 text-md-right"></label>
                <div class="col-md-6">
                    <input asp-for="AdmissionFee" class="form-control" />
                    <span asp-validation-for="AdmissionFee" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ServiceCharge" class="control-label col-md-2 text-md-right"></label>
                <div class="col-md-6">
                    <input asp-for="ServiceCharge" class="form-control" />
                    <span asp-validation-for="ServiceCharge" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AcademicSessionId" class="control-label col-md-2 text-md-right"></label>
                <div class="col-md-6">
                    <select asp-for="AcademicSessionId" asp-items="ViewBag.academicSessionList" class="form-control">
                        <option disabled selected>Select Academic Session</option>
                    </select>
                    <span asp-validation-for="AcademicSessionId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="StudentCategoryId" class="control-label col-md-2 text-md-right"></label>
                <div class="col-md-6">
                    <select asp-for="StudentCategoryId" asp-items="ViewBag.studentCategoryList" class="form-control">
                        <option disabled selected>Select Student Category</option>
                    </select>
                    <span asp-validation-for="AcademicSessionId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PaymentTypeId" class="control-label col-md-2 text-md-right"></label>
                <div class="col-md-6">
                    <select asp-for="PaymentTypeId" asp-items="ViewBag.paymentTypeList" class="form-control">
                        <option disabled selected>Select Payment Type</option>
                    </select>
                    <span asp-validation-for="PaymentTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-2 text-md-right">Merit Type</label>
                <div class="col-md-6">
                    <select name="meritTypeId" asp-items="ViewBag.meritTypeList" class="form-control">
                        <option disabled selected>Select Merit Type</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(function () {
        $('.msgFadeOut').fadeOut(8000);
    });
</script>
}
