@model OnlineAdmission.Entity.PaymentTransaction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PaymentTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionDate" class="control-label"></label>
                <input asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNo" class="control-label"></label>
                <input asp-for="AccountNo" class="form-control" />
                <span asp-validation-for="AccountNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionId" class="control-label"></label>
                <input asp-for="TransactionId" class="form-control" />
                <span asp-validation-for="TransactionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceNo" class="control-label"></label>
                <input asp-for="ReferenceNo" class="form-control" />
                <span asp-validation-for="ReferenceNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmissionFee" class="control-label"></label>
                <input asp-for="AdmissionFee" class="form-control" />
                <span asp-validation-for="AdmissionFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceCharge" class="control-label"></label>
                <input asp-for="ServiceCharge" class="form-control" />
                <span asp-validation-for="ServiceCharge" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="AcademicSessionId" class="control-label col-md-2 text-md-right"></label>
                <div class="col-md-6">
                    <select asp-for="AcademicSessionId" asp-items="ViewBag.academicSessionList" class="form-control">
                        <option disabled selected>Select Academic Session</option>
                    </select>
                    <span asp-validation-for="AcademicSessionId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PaymentTypeId" class="control-label col-md-2 text-md-right"></label>
                <div class="col-md-6">
                    <select asp-for="PaymentTypeId" asp-items="ViewBag.paymentTypeList" class="form-control">
                        <option disabled selected>Select Payment Type</option>
                    </select>
                    <span asp-validation-for="PaymentTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
