@model IEnumerable<IdentityUser>

@{ 
    ViewBag.Title = "Application User List";
    int sl = 0;
}

@if (Model.Any())
{
	<caption>List of all User</caption>
	<table class="table" >
		
		<thead>
			<tr>
				<th>#</th>
				<th>Id</th>
				<th>User Name</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model)
            {
				<tr>
					<td>@(++sl)</td>
					<td>@user.Id</td>
					<td>@user.UserName</td>
				</tr>
            }
		</tbody>
	</table>
}
else
	{
		<div class="jumbotron">
			<h4>Not any user created yet</h4>
		</div>	
	}