@media print {
    #pageTopArea {
        display: none;
    }
}

.fullCard {
    font-size:12px;
    width: 260px;
    height: 400px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #000000;
    background-image: linear-gradient(to right, #3A6C91,#ffffff,#C1655E);
}
.part1 {
    margin-top: 2px;
    padding: 2px;
    background-image: linear-gradient(to right, #3A6C91,#ffffff ,#C1655E);
    color:#000000;
    font-weight:bold;
}
.part1 img {
    width: 50px;
}
.part2{
    background-color:white;
    margin-top:1px;
}
.part2 img {
    height: 85.6px;
    width: 75.6px;
}
.studentPhoto {
    border: 3px solid #ede1e1;
}
.part3 {
    background-color: white;
}


.myTable {
    width:100%;
}

.myTable tr {
    border-bottom: 1px solid black;
}
.myTable tr:last-child{
    border-bottom:none;
}
.studentName{
    font-weight:bold;
}

.principalArea{
    padding-top:10px;
    background-color: #3A6C91;
    color:#ffffff;
    border-radius:0px 0px 5px 5px;
}
.principalArea img {
    width: 20%;
    color: white
}
.principal {
    border-top: 1px solid #ffffff;
    margin-right:10px;
}
.sign {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    margin-right:10px;
}

.backpart {
    width: 260px;
    height: 400px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #000000;
    font-size:11px;
}
.backpart p{
    margin:0;
    padding:0;
}