@media print {
    #pageTopArea {
        display: none;
    }
}

.fullCard {
    font-size: 11px;
    /* width: 260px;
    height: 400px;*/
    /*width: 202px;
    height: 326px;*/
    /*height: 400px;*/
    width: 234px;
    height: 360px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #000000;
    background-image: linear-gradient(to right, #3A6C91,#ffffff,#C1655E);
    display: flex;
    flex-direction: column;
}
.part1 {
    margin-top: 3px;
    padding: 1px;
    background-image: linear-gradient(to right, #3A6C91,#ffffff ,#C1655E);
    color:#000000;
    font-weight:bold;
}
.part1 img {
    /*width: 50px;*/
    width: 50px;
}
.part2{
    background-color:white;
    margin-top:2px;
}
.part2 img {
    height: 85.6px;
    width: 75.6px;
}

.studentPhoto {
    border: 1px solid #ede1e1;
}

.honsText{
    writing-mode:vertical-rl;
    text-orientation:upright;
    margin:0px 0px 0px 0px;
    padding:2px;
    font-size:9px;
    color:white;
    font-weight:bold;
    background-color:chocolate;
    border-radius:4px;
}

.part3 {
    background-color: white;
    padding-bottom:1px;
}


.myTable {
    width:100%;
}

.myTable tr {
    border-bottom: 1px solid black;
}
.myTable tr:last-child{
    border-bottom:none;
}
.collegeName {
    font-weight: bold;
}
.studentName{
    font-weight:bold;
}

.principalArea{
    margin-top:auto;
    padding-top:1px;
    background-color: #3A6C91;
    color:#ffffff;
    border-radius:0px 0px 3px 3px;
}
.principalArea img {
    width: 20%;
    color: white
}
.principal {
    border-top: 1px solid #ffffff;
    margin-right:5px;
}
.sign {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    margin-right:5px;
}

.backpart {
    width: 202px;
    height: 326px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #000000;
    font-size:11px;
}
.backpart p{
    margin:0;
    padding:0;
}